@model Initiativlistan.Models.Priolista

@{
    ViewData["Title"] = "Create";
}

<h2>Beslutsunderlag</h2>

<form asp-action="Create">
    
       
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
                <label asp-for="ärendeägare"></label>
                <input asp-for="ärendeägare" class="form-control" />
        </div>    
        <div class="form-group">
            <label asp-for="beställare"></label>
            <input asp-for="beställare" class="form-control" />
            <span asp-validation-for="beställare" class="text-danger" />
        </div>  
        <div class="form-group">
           <label asp-for="namnPåAktvivitet"></label>
           <textarea rows="8" cols="0" asp-for="namnPåAktvivitet" class="form-control"></textarea>
            <span asp-validation-for="namnPåAktvivitet" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="beskrivning"></label>
            <textarea rows="8" cols="0" asp-for="beskrivning" class="form-control"></textarea>
            <span asp-validation-for="beskrivning" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="förvaltning"></label>
            <div class="radio">
               <label><input type="radio" value="KSF" asp-for="förvaltning" />KSF</label>
            </div>
            <div class="radio">
                <label><input type="radio" value="KUF" asp-for="förvaltning" />KUF</label>
            </div>
            <div class="radio">
                <label><input type="radio" value="NBF" asp-for="förvaltning"/>NBF</label>
            </div>
            <div class="radio">
                <label><input type="radio" value="SÄF" asp-for="förvaltning"/>SÄF</label>
            </div>
            <div class="radio">
                <label><input type="radio" value="IT-SG" asp-for="förvaltning"/>IT-SG</label>
            </div>
            <div class="radio">
                <label><input type="radio" value="IT-LG" asp-for="förvaltning"/>IT-LG</label>
            </div>
            <div class="radio">
                <label><input type="radio" value="IT internt" asp-for="förvaltning"/>IT internt</label>
            </div>
            <div class="radio">
                <label>
                <input type="radio" value="KLG" asp-for="förvaltning"/>
                KLG
                </label>
            </div>
  
        </div>
        <div class="form-group">
            <label asp-for="finnsIPlan"></label>
            <div class="radio">
                <label>
                    <input type="radio" id="finnsPlan1" value="KSF:s verksamhetsplan" asp-for="finnsIPlan"/>KSF:s verksamhetsplan</label>
                 </div> 
            <div class="radio">
                <label>
                    <input type="radio"  id="finnsPlan2" value="IT-plan" asp-for="finnsIPlan" />IT-plan</label>
            </div> 
            <div class="radio">
                <label>
                    <input type="radio" id="finnsPlan3" value="IT-sektionens arbetsplan" asp-for="finnsIPlan" />IT-sektionens arbetsplan</label>
            </div> 
            <div class="radio">
                <label>
                    <input type="radio" id="finnsPlan4" value="Internkontroll" asp-for="finnsIPlan" />Internkontroll</label>
            </div>  
            <div class="radio">
                <label>
                    <input type="radio" id="finnsPlan5"/>Other:</label>
                    <input type="text" id="other" disabled asp-for="finnsIPlan">
            </div>   
         </div>
        <div class="form-group">
        <label asp-for="typAvFörändring"></label>
            <br />
            <select asp-for="typAvFörändring">
                <option value="RFC <20 h">RFC <20 h</option>
                <option value="Projekt eller uppdrag >20 h">Projekt eller uppdrag >20 h</option>
            </select>
        </div>
            <div class="form-group">
                <label>Är ändringen akut?</label>
                <div class="checkbox">
                    <label><input type="checkbox" asp-for="akut">Ja</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox">Nej</label>
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="beskrivAkut"></label>
                    <textarea rows="8" cols="0" asp-for="beskrivAkut" class="form-control"></textarea>
                    <span asp-validation-for="beskrivAkut" class="text-danger" />
                </div>

        <div class="form-group">
            <label asp-for="kategorisering"></label>
            <div class="radio">
                <label>
                    <input type="radio" id="kategorisering1" value="Tjänst" asp-for="kategorisering" />Tjänst
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" id="kategorisering1" value="Stödtjänst" asp-for="kategorisering" />Stödtjänst
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" id="kategorisering1" value="Produkt" asp-for="kategorisering" />Produkt
                </label>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="nuvarandePåverkan"></label>
            <textarea rows="8" cols="0" asp-for="nuvarandePåverkan" class="form-control"></textarea>
            <span asp-validation-for="nuvarandePåverkan" class="text-danger" />
        </div>    
        <div class="form-group">
            <label asp-for="framtidaPåverkan"></label>
            <textarea rows="8" cols="0" asp-for="framtidaPåverkan" class="form-control"></textarea>
            <span asp-validation-for="framtidaPåverkan" class="text-danger" />
        </div>
        
        <div class="form-group">
                <label asp-for="önskatDatum"></label>
                <input style="width:200px;" type="date" asp-for="önskatDatum" class="form-control" />
        </div>
    <br />
        <div class="form-group">
            <label asp-for="tidasram"></label>
            <input style="width:200px;" type="date" asp-for="tidasram" class="form-control" />

        </div>
   
    <div class="form-group">
        <label asp-for="kostnader"></label>
        <textarea rows="8" cols="0" asp-for="kostnader" class="form-control"></textarea>
        <span asp-validation-for="kostnader" class="text-danger" />
    </div>

        
        <div class="form-group">
            <label asp-for="budget"></label>
            <input asp-for="budget" class="form-control" />
            <span asp-validation-for="budget" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="beroende"></label>
            <textarea asp-for="beroende" class="form-control" rows="5" cols="0"></textarea>
            <span asp-validation-for="beroende" class="text-danger" />
        </div>
    <div class="form-group">
        <label asp-for="verksamhetspåverkarn"></label>
        <textarea rows="8" cols="0" asp-for="verksamhetspåverkarn" class="form-control"></textarea>
        <span asp-validation-for="verksamhetspåverkarn" class="text-danger" />
    </div>
        
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
  </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    
    <script>
        $("#finnsPlan5").click(function () { $("#other").prop("disabled", false); });
        finnsPlan5.onclick = function () { finnsPlan1.checked = false, finnsPlan2.checked = false, finnsPlan3.checked = false, finnsPlan4.checked = false };
        finnsPlan1.onclick = function () { finnsPlan5.checked = false, other.disabled = true };
        finnsPlan2.onclick = function () { finnsPlan5.checked = false, other.disabled = true };
        finnsPlan3.onclick = function () { finnsPlan5.checked = false, other.disabled = true };
        finnsPlan4.onclick = function () { finnsPlan5.checked = false, other.disabled = true };
        </script>
 }

